/************************* browser hacks *************************/
button::-moz-focus-inner { border: 0; } /* remove ugly dotted rect around the clicked button's text */
a::-moz-focus-inner { border: 0; } /* remove ugly dotted rect around the clicked button's text */

/************************* everything else is for all platforms and browsers *************************/

/* Could segregate all fonts and sizes */
/*
	font-family:Verdana, Geneva, sans-serif; --wide
	font-family:Tahoma, Arial, Helvetica, sans-serif; --narrow
	font-family:Georgia, Utopia, Palatino, 'Palatino Linotype', serif; --wide
	font-family:'Times New Roman', Times, serif; --narrow
	font-family:'Courier New', Courier, monospace; --monospace
*/
body, section { font-family:'Noto Serif',serif; font-size:14px; }


/* Color designations are found in brown.css, blue.css, et al. */

/************************** general settings for the entire document *******************************/

table.saline td+td {
	text-align:right; /* this is all cells but the first in a row */
}




@media screen {
	.printonly {display:none;}
}
@media print {
	.noprint {display:none;}
	#videocontrols, #subtitles {display:none;}
	a {text-decoration:none; border-bottom:none;}
}

.hidden { display:none; }


* { /* border-box sizing for everything */
	box-sizing:border-box;
}
label { cursor: pointer; }

/* don't display any instructor material in student manual (applies to nav and section) */
.student .instructor { display:none; }


form { margin:0; } 

a, .link, .doi, .pdf { 
	cursor:pointer;
	text-decoration:underline dotted; 
	/*border-bottom:1px dotted; */
	/*background:#fee;*/ 
} 
nav a {
	text-decoration:none;
}
@media print {
	a, .link, .doi, .pdf {text-decoration:none; border-bottom:none;}
}
/* for links that are disabled because the content doesn't yet exist */
a.not {
	pointer-events:none;
	cursor:default;
	text-decoration:none;
	opacity:0.7;
	color:#31290e;
}


sub, sup { /* prevent from changing line spacing; doesn't quite work, sup still changes it */
	line-height:0em; 
	position:relative;
	vertical-align:baseline;
	font-size:0.8em;
}
sub { top:0.35em; }
sup { top:-0.5em; }
sub.low { top:0.5em; }

/* fractions in the text body, which is Georgia font */
sup.frac { top:-0.45em; font-size:80%; }
sub.frac { top:0.0em; font-size:80%; }


input[type='text'] { height:22px; }
input[type='radio'], input[type='checkbox'] { margin:0 3px 0 0; } /* no space char after these controls */

p { clear:left; } /* or it is messed up after .quiz.half */


input[size='2'] { width:22px; }
input[size='3'] { width:28px; }
input[size='4'] { width:34px; }
input[size='5'] { width:41px; }
input[size='6'] { width:48px; }
input[size='7'] { width:54px; }



/************************* adjustments for Windows *************************/
/* need to test with Windows 7 and 10 with Edge and Explorer 11 */

input[type='radio'].win { vertical-align:-1px; } /* -2px in XP, -1px in Windows 7 */
input[type='checkbox'].win { vertical-align:-2px; } /* -2px in XP, -1px in Windows 7 */


/*
COMMON DEVICE SIZES
Phones: 320x480 (iPhone 4), 320x568 (iphone 5), 375x667 (iPhone 6), 360x640, 384x640, 400x640, 320x533 (various others)
Phablets: 414x736 (iPhone 6+), 412x690, 432x768
Tablets: 768x1024 (most iPads, some others), 800x1280, 600x1024, 600x960, 1024x1366
*/

@media screen and (max-width:768px) and (orientation:portrait), (max-height:768px) and (orientation:landscape) { /* PHONE (tested with iPhone) WAS max-device-width:480px */
	body { -webkit-text-size-adjust:100%; } 
	/*a, .link, .doi, .pdf { text-decoration:none; background:#fee; } /* for emphasis in touch device */
	/*a:hover, .link:hover, .doi:hover, .pdf:hover { text-decoration:none; background:#fee; } /* for emphasis in touch device */
}
